.mail_modal{
    width: 40vw;
    background-color: #fff;
    box-shadow: -2px 4px 5px #000;
    z-index: 70000000000;
    position: fixed;
    left: calc(7vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.expand_modal{
    width: 80vw;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
}

.minimize_modal{
    width: 25vw;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}