.paid__btn{
    padding: 4px 20px;
    outline: none;
    border: none;
    font-size: 15px;
    float: right;
    margin-right: 35px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: rgb(233, 134, 5);
}
.paid__btn:hover{
    box-shadow: 5px 5px 5px #000;
}