.loss_profit_label{
    display: block;
    width: 50px;
    padding: 3px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 12px;
    font-style: italic;
    background: rgb(148 25 241);
    color: #fff;
    margin: auto;
    box-shadow: 2px 5px 5px #000;
    user-select: none;
}
.loss{
    background: rgb(245, 35, 35);
}